body {
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
  background-color: rgb(255, 248, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.hint1{
  position: fixed;
  
  bottom: -75px;
  left: 300px;
}
.hint2{
  position: fixed;
  bottom: -75px;
  right: 300px;
}
h1{
  font-size: 60px;
}
h2{
  font-size: 50px;
}
h3{
  font-size: 40px;
}
.hints{
  position: fixed;
  left: 90%;
}
a{
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-control,
.form-select {
  background-color: rgb(255, 214, 180);
  width: 650px;
  height: 100px;
  font-size: 45px;
}
option {
  background-color: rgb(250, 231, 177);
}

button{
  background-color: rgb(252, 180, 98);
  font-size: 45px;
}


.form-text {
  width: 600px;
  font-size: 30px;
}

.btn-close {
  position: absolute;
  margin-left: 250px;
  margin-top: -40px;
  scale: 0.6;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainPage {
  display: flex;
  justify-content: space-between;
}

.authBtns {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.photosPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.detailInfo {
  display: flex;
}

.mark {
  width: 150px;
  height: 130px;
  background-color: #fff8e7;
  border: none;
}
.hat{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.like {
  margin-top: 45px;
  margin-left: 45px;
  background-color: #fff8e7;
  border: none;
}

.photka {
  width: 450px;
  height: 400px;
}

.photoTable{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.col{
  flex: 0 0 0%;
  border: 1px solid rgb(252, 180, 98);
  border-radius: 5px;
}

.photkaProfile{
  width: 350px;
  height: 320px;
  border-radius: 5px;
}

.bi-heart {
  color: red;
}

.bi-heart-fill {
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
}

.photo {
  border: 1px solid black;
  border-radius: 5px;
}

.btnAuth{
  border-radius: 5px;
}
.reg,
.log {
  width: 150px;
}

.middle {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.left {
  border-radius: 15px 0px 0px 0px;
}

.right {
  border-radius: 0px 15px 0px 0px;
}

.pictureText {
  font-size: 20px;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}